.body{
   
    width:100vw;
    height: 100vh;
    background: linear-gradient(to right ,rgba(201, 195, 195, 0.836),rgba(235, 229, 229, 0.836),rgb(255, 255, 255),rgba(235, 229, 229, 0.836),rgba(173, 170, 170, 0.836));
    
    }
  .temp{
        position: absolute;
        top:10%;
        left: 0%;
        width:100%;
        height: 80%;
        opacity: 0.5;

    }
    .sbbl{
        top:15%;
        position: absolute;
        left: 15%;
        width: 80%;
        height: 80%; 
    }
    .logo{
        position: absolute;
        top: 191%;
        left:80%;
    }
    
    .main{
    width:73%;
     height: 45%;
    position: absolute;
    top:0%;
    right:0%;
    
    }
    .teddy{
            position:relative ;
            top:3%;
            height: 85%;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;   
            overflow: scroll;
    }
    .Letters{
        font-family: 'Miltonian Tattoo', cursive;        
            font-size: 135%;
            width: 50vw;
            top: 0%;
            padding-left: 4%;
            position: relative;
            font-weight:bold;
        
    }
 
    .massage{
         &:focus {outline:0;}
        width: 78.5%;
        height: 19.75%;
      //  background-color: #FFF;
        position: absolute;
        top:89%;
        left:4%;
        border :2px solid #DD6D05;
        border-radius: 5px;
        display: flex;
        overflow: scroll;
        //overflow-x: hidden;
    }
     .put_contact{
        position: absolute;
        top:18%;
        left:3%;
        width: 95%;
        height: 80%;
        padding:5%;//////5
        text-align: center;
        margin: 1.5%;
        display: flex;
        flex-flow:row wrap;       
        overflow: scroll;
        text-align: center;

}
    
    .read{
      position: absolute;
        top:89%;
        left: 82%;
        width:7.5%; 
        height: 19.5%;
        border : 2px solid #DD6D05;
        border-radius: 5px;
        //background-color: #Fff;
    }
    #r{
        position: absolute;
        width:82%; 
        height: 82%; 
        top:10%;
        left: 10%;
    }
 
::-webkit-scrollbar {width: 0.1px; height: 0.1px; }
::-webkit-scrollbar-thumb { background-color: transparent; -webkit-border-radius: 1ex; }‏   
    .read1{
        position: absolute;
        top:10%;
        right: 10%;
        width:80%; 
        height: 80%;
            &:hover{
         opacity:0.5;
         cursor: pointer;
             
    }
      
    }
    .sent{
        position: absolute;
        top:89%;
        left:91%;
        width:7%; 
        height: 19.5%;
        border : 2px solid #DD6D05;
        border-radius: 5px; 
        //background-color: #fff;
            &:hover{
        opacity:0.5;
        cursor: pointer;
    }
    
    }
    .sent1{
      position: absolute;
        top:10%;
        right: 9%;
        width:80%; 
        height: 80%;
    }

    #contact{
     color: #DD6D05;
     margin-left: 5%;
    margin-top:30%;
     text-align: center;
     font-size: 140%;
    }
    .contact{//the place that the picture of the contact
        width: 7vw;
        height:9vh ;
        position:absolute;
        top:4.5%;
        right: 40;
        right: 2%;
        border : 3px solid #DD6D05;
        border-radius: 100px; 
   
    }
  
    
    /*.change{
        width: 11.2vw;
        height:6vh ;
        position:absolute;
        top:48%;
        right: 2%;
        border : 4px solid #8F0909;
        border-radius: 5px; 
         background-color: transparent;
         //background-color: #FFF;
        font-family:Axure Handwriting;
        font-size: 107%;
        font-weight: bold;
            &:hover{
         opacity:0.5;
         cursor: pointer;
         
        }
    }*/
    
    .aside1{
        width: 25%;
        height:48% ;
        position:absolute;
        top:1%;
        left:.5%;
        border : 2px solid #DD6D05;
        border-radius: 5px; 
        display: flex;
        overflow: scroll;
    }
    
    .h1{
        position: absolute;
        top: -1.5%;
        left: 4.5%;
        color: #DD6D05;
        font-size: 3vw;
        //font-weight: bold;
    }
    
    .contact1{
        &:focus {outline:0;}
        width: 22%;
        height:20% ;
        position:absolute;
        top:2.5%;
        right:2%;
        border : 2px solid #DD6D05;
        border-radius: 5px; 
        background-color: transparent;
        border-radius: 13%; 
       
    }
    
    .add_contact{
        &:focus {outline:0;};
        width: 98%;
        height:88% ;
        position: absolute;;
        top:32.5%;
        right: -2.5%;
        &:hover{
        opacity:0.5;
        cursor: pointer;
        }
    }
    
    .view{
        width: 25%;
        height:20% ;
        font-weight: bold;
        position:absolute;
        top:20%;
        left:28%;
        border : 2px solid #DD6D05;
        border-radius: 13%; 
        
        //background-color: #FFF;
        font-family: Bradley Hand ITC;
        font-size: 107%;
        font-weight: bold;
        &:hover{
         opacity:0.5;
         cursor: pointer;
        }
    }
    
    
    .aside{
       
        width: 25%;
        height:48% ;
        position:absolute;
        top:50.5%;
        left:.5%;
        border : 2px solid #DD6D05;
        border-radius: 5px; 
        display: flex;
        overflow: scroll;
       /*background-color:#FFF;*/
      
    }
    .h1{
        padding: 2%;	
        font-family: 'Miltonian Tattoo', cursive;
        
    }
    
    .wrapper,.copyright {
        padding: 15px;
        text-align: center;
        position:absolute;
        top:16%;
        left:.5%;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
    }
    
    hr{
        margin: 30px 20px;
        border-top:2px solid #1C1E26 ;
        border-bottom:2px solid #38404D;
    }
    /*Change circle size and color here*/
    .img{
         &:focus {outline:0;}
        width: 13%;
        height: 8%;
        line-height: 5px;
        text-align: center;
        color: #DD6D05;
        padding:5%;//////5
        margin: 1.5%;
        color: black(2, 250, 250, 0.51);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        border-radius: 20%;
        border:solid;
        text-align: center;
        box-shadow: 0 5px 35px rgba(0,0,0,0.4);       
       // background-color: white;
        &:hover{
         opacity:0.5;
         cursor: pointer;
        }
    }
    
    .img:active {/*on click zoom on...*/
        color: #FFF;
        -webkit-box-shadow: 1px 1px 3px #333;
        -moz-box-shadow: 1px 1px 3px #333;
        box-shadow: 1px 1px 3px #333; 
    }
    
    .img:active { /*markering---ask earn*/
         -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
    }
    /*
    .add_cat{הוספת קטגוריה
         width: 25%;
        height:17% ;
            font-weight: bold;
        position:absolute;
        top:2.5%;
        right:0%;
        border : 3px solid #8F0909;
        border-radius: 15%; 
        background-color: #FFF;
        font-family: Bradley Hand ITC;
        font-size: 107%;
        font-weight: bold;
            &:hover{
         opacity:0.5;
             cursor: pointer;
    }
    }*/
    .footer{
        position: absolute;
        top:92%;
        left:91.6%;
        width:7%; 
        height: 7%;
        //z-index:-1;
       
    }
    
    
    
    /*/.images{
      display: flex;
      flex-direction: row;
      height: 15%;
    overflow: scroll;
     
    }*/