<div class="body">
    <div class="main">
        <div class="teddy">
            <div class="Letters" *ngFor="let t of text">{{t}}</div>
        </div>

        <img class="temp"  src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/%D7%AA%D7%9E%D7%95%D7%A0%D7%AA%20%D7%A8%D7%A7%D7%A2.png?alt=media&token=a0f7a836-533f-4cda-ba1c-275b196fb21a">

        <div class="text"></div>
        <div class="massage" contenteditable=true style="position:absolute; left:2%; border:2px solid #DD6D05">
            <img *ngFor="let img of imgSelect" [src]="img.img" width="8%" height="75%">
        </div>
        <a class="read" (click)="ReadText()">
                 <img class="read1" id="r" src="https://image.flaticon.com/icons/png/128/25/25695.png">
             </a>
        
        <a class="sent" target="_blank" href="https://api.whatsapp.com/send?{{currContact ? 'phone=972' +  currContact.ContactPhone : ''}}&text={{_text[_text.length - 1]}}" (click)="generateText()">
            <img class="sent1" src="https://image.flaticon.com/icons/png/128/693/693133.png">
        </a>

        <div class="contact" ><div id="contact"></div></div>
           </div>


    <div class="aside1">
        <h1 class="h1">Contacts:</h1>
        <button class="contact1">
                 <img (click)="add()" class="add_contact" src="https://image.flaticon.com/icons/svg/60/60732.svg">
             </button>
        <div class="put_contact" *ngIf="allContacts">

            <div class="img" *ngFor="let c of allContacts" (click)="currContact = c">
                <div class="contact_name"  (click)="put_the_name(c.ContactName)">{{c.ContactName}}</div>
            </div>
            

        </div>
    </div>


    <div class="aside">
        <h1 class="h1">Categories:</h1>
        <div class="wrapper">
            <img class="img" (click)="food()" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Food%2Fkategorios%2Ffood.png?alt=media&token=e39a3aaa-277e-4acd-ab20-6f4f1c0db294">
            <img class="img" (click)="colors()" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Food%2Fkategorios%2Fcolor.png?alt=media&token=7e235ff9-7649-430b-9cbd-945718b54f0e">
            <img class="img" (click)=vehicle() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Food%2Fkategorios%2Fvechiles.png?alt=media&token=fc7bb337-5da0-4931-a766-a4828f13a7ca">
            <img class="img" (click)=shapes() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Food%2Fkategorios%2Fshapes.svg?alt=media&token=f88af37d-1297-44b6-bb3c-af275f1462af">
            <img class="img" (click)=games() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Food%2Fkategorios%2Fgames.png?alt=media&token=ab2a35aa-2841-4b93-84be-da84e26cb1a9">
            <img class="img" (click)=emotions() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Food%2Fkategorios%2Femotions.svg?alt=media&token=971bab68-73bd-45ec-8ed3-50f588dfd359">
            <img class="img" (click)=vegetables() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/vegetables%2F%D7%A7%D7%98%D7%92-%D7%99%D7%A8%D7%A7%D7%95%D7%AA.png?alt=media&token=60f41d03-cfe4-4d60-b168-5896d0f3c9b1">
            <img class="img" (click)=places() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Places%2Fkat-places.png?alt=media&token=6783e549-3818-455d-b4cc-022ab29aaed3">
            <img class="img" (click)=animals() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F%D7%97%D7%99%D7%95%D7%AA.jpg?alt=media&token=52d10778-5d30-485b-acce-391d2a79cd95">
            <img class="img" (click)=social() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Social_networks%2Fkat-social.jpg?alt=media&token=8a72a58d-0951-4322-84e5-a09ae333c5d8">
            <img class="img" (click)=numbers() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Numbers%2Fkat-nmbers.png?alt=media&token=bfc3a1dc-0020-4c81-95a5-e001b1d0a006">
            <img class="img" (click)=letters() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fkat-letters.png?alt=media&token=3fa5e594-ce68-4331-afe5-40722cc230bb">
            <img class="img" (click)=cookware() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2Fkat-cookware.jpg?alt=media&token=ef5bd081-b64c-49e2-8f4f-7e5f5d0a6f58">
            <img class="img" (click)="fruits()" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Fruits%2F%D7%A7%D7%98%D7%92-%D7%A4%D7%A8%D7%95%D7%AA.png?alt=media&token=24c69beb-2bd1-4fc1-ad64-9d2e3b4bd064">
            <img class="img" (click)="verbs()" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/%D7%A4%D7%A2%D7%9C%D7%99%D7%9D%2F%D7%91%D7%91%D7%A7%D7%A9%D7%94.svg?alt=media&token=063ea787-812b-4ca7-b875-0c2a3cb856ac">
            <img class="img" (click)="attributes()" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/%D7%9B%D7%99%D7%95%D7%95%D7%A0%D7%99%D7%9D%2F%D7%99%D7%9E%D7%99%D7%A0%D7%94.png?alt=media&token=3530c4cc-70e3-4d9f-8023-1a6145c57ddc">
            <img class="img" (click)="Stationery()" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/%D7%9E%D7%9B%D7%A9%D7%99%D7%A8%D7%99%20%D7%9B%D7%AA%D7%99%D7%91%D7%94%2FStationery.png?alt=media&token=f4cb827e-cfb4-4e09-9cf1-48aa7c6ab778">

        </div>
    </div>
    <div>
        <div>
            <app-categories [_imgs]="imgs" (imgClick)="addToText($event)">
            </app-categories>
        </div>
    </div>
    <img class="footer" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/%D7%9C%D7%95%D7%92%D7%95.png?alt=media&token=549b55ef-4d5b-4221-903d-2e4ed642ffde">
</div>