
<div class="container">
        <div class="box-header">
            <h2>Add contact</h2>
        </div>
            <br/>

        <div class="form">
            <input type="text" [(ngModel)]="ContactName" placeholder="Contact name" class="txt1" required>
            <br/>
            <input type="text"  [(ngModel)]="ContactPhone" placeholder="Phone number" class="txt2" required>
            <br/>
            <br/>
            <div input action="/action_page">
            <input #uploadPic class="picter" type="file" (change)="upload(uploadPic.files)" name="pic" accept="image/*">
            <!--<button  [(ngModel)]="ContactImg" (click)="uploadPic.click()" mat-rasied-button class="b_add" required >+add picture</button>
            <br/>-->
            <br/>
             <br/>
              <br/>
            <button  (click)="openDialog()" id="Acontact-button">Add</button>
            </div>
        </div>
</div>

